*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    color: gray;
    background: #07080b;
    font-family: IBM Plex Mono,Menlo,DejaVu Sans Mono,Lucida Console,monospace;
    -webkit-font-smoothing: antialiased;
}
.app{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-barcontent{
    position: sticky;
    left:5px;
    top: 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(24,29,35);
    flex-grow: 1;
    max-width: 200px;
}
.left-barcontent2{
    position: sticky;
    left:5px;
    top:0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(24,29,35);
    flex-grow: 1;
    max-width: 75px;
}
.leftbarbuttons{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.leftbarbuttons svg{
    margin-right: 8px;
} 
.leftbarbuttons p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    background: #101217;
    font-size: 18px;
    padding-left: 25px;
    padding-top: 5px;
    color: #ffffffcc;
    font-weight: 500;
}

.content{
    position: relative;
    display: flex;
    flex-grow: 2;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.header,.left-bartoplogo{
    display: flex;
    justify-content:  flex-end;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right,rgb(29, 35, 43) 50%,transparent);
}
.header>.header-right{
    width: 50vw;
    padding: 0px 18px 0 100px;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header>.header-left{
    width: auto;
}
.header #day-night{
    border-radius: 100%;
    padding: 7px;
}
.left-bartoplogo{
    background-repeat: no-repeat;
    background: url(../images/logo-new.svg);
    width: 139px;
    height: 17px;
    margin: 25px 25.6px 18px 25.6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
.left-bartop{
    background: rgb(29, 35, 43);
}
.left-bartoplogo:hover{
    cursor: pointer;
}
.pagebutton{
    padding: 10px 0;
    margin: 5px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #95a7bc96;
    font-size: 15px;
    font-family: ClashGrotesk;
    font-weight: 500;
    transition:  .25s ease;
    border-radius: 30px;
    padding-left: 25px;
}
.pagebutton:hover{
    color: #ffffff;
    padding-left: 15px;
    background: linear-gradient(95.67deg,rgba(54, 68, 82, 0.422) 0%,rgba(217,222,227,0) 92.54%);
}
.button{
    margin: 0 0 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 0.9rem;
    border: 0;
    border-radius: 40px;
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.1);
    background-color: #323f4a;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease;
    line-height: 1.2;
    transition-property: transform, background-color;
    font-family: ClashGrotesk;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: left;
}
.button:hover{
    background-color: #4c6173;
    transform: translateY(-3px);
}

.homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 48px;
    max-width: 1050px;
}
.homeintro{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #323f4a;
    padding-bottom: 30px;
}
.introtext{
    padding-left: 30px;
    color: #ffffffdc;
    line-height: 1.4;
}
.introtext>h1,p{
    padding-bottom: 12px;
}
.introimg{
    width: 300px;
    border-radius: 20px;
}
.daily-targets{
    width: 100%;
    padding-bottom: 30px;
    border-bottom:1px solid #323f4a;
}
.daily-intro,.battles-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.targets-card{
    display: flex;
    position: relative;
    justify-content: flex-end;
    width:100%;
    height:415px;
    border-radius: 20px;
    overflow-x: auto;
    background-color: #30363bd5;
    box-shadow: inset 20px 0 200px rgb(0, 0, 0); 
    padding:30px 0px 0px 0px;   
    background: linear-gradient(to right,rgba(29,35,43,.75) 20%, #171819d5 50%,rgba(29,35,43,.75) 100%);
}
.daily-targets-shadowed {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right,rgb(0, 0, 0),transparent 25%);
    pointer-events: none;
}
.single-targets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    min-width: 240px;
    height: auto;
}
.pill{
    position: relative;
    font-size: .875rem;
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: center;
    height: 20px;
    background: #2d363f;
    box-shadow: inset 1px 1px 2px hsla(0,0%,100%,.1);
    border-radius: 4px;
    font-weight: 500;
    color: #ffffffc0;
    transition: background-color .2s ease;
}
.target-question{
    height: 80%;
    margin-top: 30px;
    padding: 5px;
    display: block;
    border-radius: 20px;
    padding:20px 20px 10px;
    border:2px solid #4c617352;
    transition: .2s ease;
    position: relative;
    text-decoration: none;
    color: inherit;
}
.target-question:hover{
    transform: scale(1.05) translateY(-5px);
    border:2px solid yellow;
    cursor: pointer;
}
.target-question>img{
    width: 100%;
    border-radius: 10px;
    border:2px solid #00000062;
}
.target-question p{
    padding: 15px 0 5px 0;
    letter-spacing: 0;
}
.target-footer{
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.targets-scroll{
    display: flex;
    justify-content: flex-start;
    width: auto;
    overflow-x: scroll;
    width: 100%;
    gap: 40px;
    position: relative;
    padding-bottom: 50px;
}
.targets-scroll::-webkit-scrollbar, 
.codespace::-webkit-scrollbar{
    width: 10px;
    height: 10px; /* 滚动条宽度 */
  }
  
.targets-scroll::-webkit-scrollbar-thumb,
.codespace::-webkit-scrollbar-thumb {
background-color: #888; /* 滚动条拖动部分颜色 */
border-radius: 8px; /* 边框半径 */
}

.targets-scroll::-webkit-scrollbar-track,
.codespace::-webkit-scrollbar-track {
background-color: #35353555; /* 滚动条轨道颜色 */
border-radius: 2px; /* 边框半径 */
}

.battle{
    border-bottom:1px solid #323f4a;
    padding-bottom: 30px;
}
.battle-card{
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 260px;
    box-shadow: 0 0 30px rgba(24,29,35,0),0px 20px 30px rgba(0,0,0,.2),inset 1px 1px 3px hsla(0,0%,100%,.1);
    background: linear-gradient(94.5deg,rgba(29,35,43,.75) 0.2%,rgba(24,29,35,.563));
    border-radius: 20px;
    padding: 30px;
    display: flex;
}
.lastbattle,
.lastbattle-q{
    flex:1;
}
.lastbattle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.lastbattleintro{
    width: 80%;
    
}
.lastbattle h3{
    font-weight: 1000;
    letter-spacing: 0px;
    color: #fff;
    font-family: gilroy;
    font-size: 22px;
    padding-bottom: 25px;
}
.lastbattle p{
    font-weight: 700;
    color: #919ca5;
    font-family: gilroy;
    font-size: 14px;
    padding-bottom: 30px;
    border-bottom: 1px solid #4c61733f;
}
.lastbattlestart{
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.lastbattlestart .button{
    width: 70%;
    height: 60%;
    max-height:50px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 15px;
}
.lastbattle-q{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.lastbattle-q img{
    width: 100%;
    border-radius: 10px;
}
.battleimage{
    position: relative;
    width:40%;
    margin: 0 10px;
}
.battleimage:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: .3s ease;
}
.battleimagetag{
    position: absolute;
    width: 40px;
    height:20px;
    color: #fff;
    font-family: gilroy;
    font-weight: 600;
    text-align: center;
    background: #000000ad;
    font-size: 10px;
    border-radius: 5px;
    margin: 5px 0 0 4px;
}
/*此下写dailytargets界面样式*/
.dailypageheader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.dailypageheader p,
.dailypageheader h1{
    text-align: center;
    padding-top: 30px;
    line-height: 1.4;
    font-family: gilroy;
}
.dailypageheader h1{
    color: #fff;
    font-size: 28px;
}
.dailypageheader p,
.previousheader p{
    color: #9ab3c8;
    letter-spacing: -.3px;
}
.dailypageheader p{
    padding-bottom: 40px;
}
.previoustargets{
    width: 100%;
    position: inherit;
}
.previousheader{
    margin-top: 80px;
    width: 100%;
    background: linear-gradient(to bottom,#000000 0,rgba(27, 27, 27, 0.256) );
    border-radius: 10px;
}
.previousheader p,
.previousheader h2{
    font-family: gilroy;
    padding: 0 0 30px 0;
    text-align: center;
}
.previousheader h2{
    color: #fff;
}
.previoustargetsline{
    width: 100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:60px;
}
.previoustargetsline .single-targets{
    width: 45%;
    display: flex;
}
.previoustargetsline .pill{
    position: absolute;
    z-index: 1;
    background: #000000c2;
    color: #fff;
    align-self: flex-end;
    transform: translateX(-40px) translateY(-100px);

}
/*以下写battlepage样式*/
.battlebtns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.battlebtns .button{
    margin:0 10px;
}
.pastbattle{
    margin-top: 20px;
}
.pastbattle h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    margin:20px 0;
}
.pastbattle .battle-card{
    margin: 10px 0;
}

/*此下写代码界面样式*/
.playapp{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw - 12px);
    padding-left: 9px;
}
.play-page{
    position: relative;
    flex-grow: 1;
    background: #07080b;
    display: flex;
    justify-content: flex-start;
}
.play-content{
    position: relative;
    flex: 1;
    border-right: 1px solid #ffffff23;
    min-width: 440px;   
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.item-header{
    position: relative;
    height:30px;
    background-color: #2d363f;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}
.item-header>p{
    color: #ffffffa6;
    font-weight: 600;
    padding: 6px 18px;
}
.codespace{
    position: relative;
    overflow-y: auto;
    background: #000000;
    color:#ffffffd1;  
    height: 70vh; 
    width: 100%;
}
.cm-line{
    min-width: 100%;
    white-space: break-spaces;
    font-family: gilroy;
    font-size: 14px;
}
.cm-content{
    max-width: calc(100% - 35px);
}
.cm-gutters{
    background-color: rgb(29, 35, 43)!important;
}
.codefooter{
    display: flex;
    background: #0f1117;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px 10px 30px 0;
    box-shadow: inset 0px 10px 8px #78787811;
}
.codefooter>.button{
    width: 200px;
    height: 40px;
}

.outputchart{
    width: 400px;
    height: 300px;
    background: #360d0daa;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
.output img{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
iframe{
    width: 100%;
    height: 100% !important;
    background-color: #fff !important;
    transition: .3s all ease;
    position: relative;
    pointer-events: none;
    overflow: hidden !important;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}
.preview{
    background: rgb(255, 255, 255);
    color: #fff;
    position: absolute;
    width: 40px;
    height: 30px;
    top: 100%;
    left: 400px;
    z-index: 10;
}
.statsheader{
    margin-top: 30px;
    width: 80%;
    background: #2d363f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px #535353;
}
.statsheader p{
    padding:5px 0;
    color: #fff;
}
.statsbody{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:20px;
    width: 100%;
}
.stats{
    border-radius: 20px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2e32369a;
    height: 80px;
    flex-direction: column;
}
.stats p{
    color: #ffffff9b;
    margin-bottom: 10px;
}
.stats label{
    position: absolute;
    transform: translateY(-40px);
    width: 30px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    background-color: #07080b;
    z-index: 1;
}
.statsbody2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    gap:20px;
    padding: 0 20px;
}
.globalstats{
    flex:1;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2d363f;
    border-radius: 40px;
    margin:30px 0 0 0;
}
.globalstats label{
    width: 40px;
    height:40px;
    background: #2d363f;
    text-align: center;
    border-radius: 100%;
    margin-right: 12px;
}
.globalstats svg{
    margin-top: 10px;
}
.globalstats p{
    padding: 3px 0 0 0;
    color: rgba(255, 255, 0, 0.726);
}
.playapp .left-barcontent,
.playapp .left-barcontent2{
    position: absolute;
}
.left-barcontent .button,
.left-barcontent2 .button{
    position: absolute;
    padding: 7px;
    margin: 15px 0 0 17px;
}
.playapp .left-bartop{
    transform: translateX(70px);
}
.playapp .left-bartoplogo{
    transform: translateX(50px);
}

.playapp .left-barcontent,
.playapp .left-barcontent2{
    transform: translateX(-80px);
    transition: .3s ease;
}